* {
    margin: 0;
    padding: 0;
    
}

body {
    /* box-sizing: border-box; */
    width: 1400px;
    height: 100%;
    padding: 5px 50px;
    background-color: rgb(2, 2, 72);
    position: relative;
}

/* ..........................header...................... */
nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 5px;
    padding: 5px;
}

.music-logo {
    display: flex;
}
nav .music-logo button{
    width: 60px;
    height: 25px;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: unset;
    margin: 10px 10px 5px 30px;
}

.music-logo img {
    width: 60px;
    height: 60px;
}
.faviorate-content{
    margin-left: 10px;
    font-size: 16px;
    color: white;
    border: none;
    background: none;
    
}

#player {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: end;
}
h3{
    margin: 10px 0 0 5px;
    color: white;
    font-size: 16px;
}

nav .right-logo {
    margin-top: 5px;
    display: flex;
    justify-content: end;
}
.right-logo form{
    width: 500px;
    height: 30px;
    background-color:white;
    border-radius: 25px;
    position: relative;

}

.right-logo input{
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 25px;
    font-size: 15px;
    border: none;
    /* padding: 8px 40px 8px 20px;  */
    box-shadow: 0 5px 8px 3px black;
    position: absolute;
    top: 0;
    background: none;
    
}
.right-logo input:focus{
    outline: none;
}
.right-logo .search-icon{
    position: absolute;
    top: 4px;
    left: 0;
    width: 50px;
    height: 100%;
    
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color:none;
    font-size: 18px;
    color: rgb(93,94,95);
}
.bx-microphone{
    position: absolute;
    top: 4px;
    right: 0;
    width: 50px;
    height: 100%;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background: none;
    font-size: 18px;
    color: rgb(93,94,95);
}
button:hover{
    color: rgb(163,164, 165);
}  
.bell{
    color: white;
    margin: 5px 10px 0 15px;
    font-size: 20px;
}
.right-music-logo{
    width: 100px;
    height: 60px;
    margin-left:15px ;
    padding-left: 25px;
}

 /* ..... currently played albums  */

 .current-albums-body{
    width: 85%;
    min-width: 500px;
    display: flex;
    justify-content: space-between;
 }
 
.current{
    width: 750px;
    height: 350px;
    padding: 5px;
    /* background-color: ; */
    display: flex;
    margin: 10px 20px;
}
.current_img img{
    width: 250px;
    height: 100%;
}
.current_details{
    width: 450px;
    padding: 10px;
}
.current_details .upper_bar{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: whitesmoke;
    margin-top: 10px;

}
.current_details .upper_bar h2{
    font-size: 25px;
    font-weight: bold;
    font-family: sans-serif;
   
}
.upper_bar h3{
    font-size: 15px;
    font-weight: bold;
    font-family: sans-serif;
    margin-top: 10px;
    
    
}
.contents{
    width: auto;
    margin-top: 10px;
    font-size: 12px;
    font-weight: 400;
    font-family: sans-serif;
    color: whitesmoke;
}
.contents p{
    margin-top:10px ;
}
.lowwer_bar{
    width: 100%;
    height: auto;
    margin: 15px;
    padding: 10px;
}
.lowwer_bar .playBtn{
    width: 100%;
    padding: 10px;
    display: flex;
    position: relative;
    color: whitesmoke;
}
.lowwer_bar .playBtn h3{
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    margin:18px 30px;
}
.lowwer_bar .playBtn button{
    width: 80px;
    height: 40px;
    font-size: 18px;
    font-weight: 700;
    font-family: serif;
    margin: 12px 10px 0 5px;
    background-color: rgb(157, 157, 193);
    border: none;
    color: whitesmoke;
}
.tracks{
    margin-left: 15px ;
    font-size: 15px;
    font-weight: 600;
    color: whitesmoke;
}

/* ..........similarplaylist................ */
.similar-playlist-library{
    width: 400px;
    color: white;
    margin-left: 50px;
    background-color: rgb(9, 9, 148);
    display: flex;
    flex-direction: column;

}
.similar_header{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    position:relative;
}
.similar_header h2{
    font-size: 25px;
    font-weight: 800;
    font-style: normal;
    margin: 10px 5px 5px 5px;
    padding: 5px;
}
.similar_header button{
    width: 70px;
    height: 50px;
    margin-left: -30px;
    position: absolute;
    top: 5px;
    right: 30px;
    color: aliceblue;
    border: none;
    background: none;
    cursor: pointer;
}
.similar-Playlist{
    width: 100%;
    height: fit-content;
    margin: 5px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.similar-Playlist .similar_song img{
    width: 70px;
    height: 60px;
    margin-left: 10px;
}
.similar-song_details{
    width: 150px;
    height: 70px;
    position: absolute;
    top: 0;
    left: 100px;
    
    
}
.similar-song_details h2{
    font-size: 15px;
    font-weight: 400;
    font-family: sans-serif;
}
.similar-song_details h3{
    font-size: 12px;
    font-weight: 400;
    color: antiquewhite;
    font-family: sans-serif;
    /* margin-top: -3px; */
}
.similar-song_icon{
    width: 50px;
    height: 70px;
    position: absolute;
    top: -5px;
    right: 30px;
    text-align:center;
    padding-bottom: 10px;
}
.similar-song_icon h3{
     font-size: 15px;
     font-weight: 400;
     margin-left: -35px;
}
/* body of the page //////////////////////// */
 /* <!-- /......second part of body --> */

.second-part{
    width: 100%;
    height: auto;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
 }
 .second-part .leftSide{
    width: 50%;
 }

 .second-part .rightSide{
    width: 40%;
 }
 
.first_playlist{
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
    padding: 2px;
    
    background-color: rgb(60, 60, 223);
}
.first_playlist .first_img #sno{
    margin: 15px 5px 5px 5px;
    font-size: 15px;
    font-weight: 300;
}
.first_playlist .first_img h3{
font-size: 15px;
font-weight: 400;
font-family: 'Courier New', Courier, monospace ;
margin: 5px;
}
.first_playlist .first_img h3 span{
font-size: 10px;
margin-left: 5px;
}

.first_img {
   display: flex;
   
}
.first_img p{
    font-size: 15px;
    font-family: none;
    font-weight: 400;
    font-style: normal;
    
}
.first_playlist.first_img img{
    width: 65px;
    height: 50px;
    margin: 10px 5px;
    border-radius: 10px;
}
.third_icon i{
    margin: 10px;
    padding: 5px;
}

.rightSide{
    width: 50%;
}
.recently{
    width: 95%;
    height: 100vh;
    margin: 5px;
}
.recentlty_header{
    margin: 5px;
    padding: 3px;
    display: flex;
    justify-content: space-between;
    position: relative;
    
}
.recentlty_header button{
    font-size: 12px;
    font-weight: 500;
    color: white;
    border: none;
    background: none;
    position: absolute;
   top: 10px;
   right: 200px;
}
.recentlty_header h2{
    font-size: 25px;
    font-weight: 700;
    color: antiquewhite;
    
}
.first-recently_play{
    /* background-color: yellow; */
    margin-top: 5px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    color:white;
    position: relative;
    
}
.first-recently_play .first_img #sno{
    margin: 15px 5px 5px 5px;
    font-size: 15px;
    font-weight: 300;

}
.first-recently_play .first_img  img{
    width: 60px;
    height: 50px;
    margin: 5px;
}
.first-recently_play .first_img h3{
    font-size: 12px;
    font-weight: 400;
    font-family: sans-serif;
    margin: 10px;
}
.first-recently_play .first_img h3 span{
    font-size: 10px;
    margin: 5px 5px;
}

.first_recently_icon {
    margin:10px 5px 5px 5px;
    /* background-color: red; */
   
}


/* ......................footer section............................... */


.footer_container{
    width: 100%;
    height: 12vh;
    margin: 10px 0 0 -40px;
    display: flex;
    justify-content: space-between;
    background-color: grey;
    position: fixed;
    bottom: 5px;
}
.footer_first{
    width: 35%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative; 
}
.footer_first_details img{
    width: 90px;
    height: 80px;
    margin: 10px 5px 5px 5px;
    position: absolute;
    left: 100px;
}
.footer_first h3{
    font-size: 15px;
    font-weight: 600;
    color: white;
    position: absolute;
    top: 18px;
    left: 200px;
    margin-left: 10px;

}
.footer_first h3 span{
    font-size: 13px;
    margin-left: 5px;
}

.first_recently_icon {
   position: absolute;
   top: 25px;
   left: 300px;
  
}

.footer_second{
    width: 35%;
    height: 150px;
    display: flex;
    /* justify-content: center; */
    margin-top: 10px;
    align-items: center;
    flex-direction: column;
}
.upper_icon i{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: grey;
    font-size: 20px;
    font-weight: 700;
    color: aliceblue;
    text-align: center;
    margin: 5px;
    
}
.lower_icon {
    width: 100%;
    margin: 2px 0 2px 5px;
}
.lower_icon input{
    width: 75%;
    margin: 0 5px 0 5px;
   
}
.footer_third{
    width: 50%;
    height: 150px;
   display: flex;
   justify-content: center;
   flex-direction: row;
   align-items: center;
   margin-top: -25px;
   position: relative;
}
.footer_third i{
    width: 40px;
    height: 40px;
    font-size: 20px;
    font-weight: 700;
    color: aliceblue;
    border-radius: 50%;
    text-align: center;
    
}
.footer_third input{
   position: absolute;
   top: 60px;
   right: 120px;
   margin-bottom: -20px;
}